body {
    overflow: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(60,64,67);
    background-color: #F3F4F6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

#main {
    width: 100vw;
    height: calc(100vh - 51px);
    overflow-y: scroll;
}

/* Menu */

#navbar a {
    padding: 0.25rem;
    padding-right: 0.5rem; 
    border-bottom: 2px solid transparent;
}

#navbar .active {
    border-bottom: 2px solid black;
}

#sidebar .active>div>div {
    border-bottom: 2px solid black;
}

/* Sidebar */

#sidebar {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: -100;
    transition: transform .1s ease-out;
    will-change: transform;
    width: 200px;
    padding-left: 10px;
    background-color: white;

    /* Left sidebar */
    left: 0;
    transform: translateX(-100%);

    /* Sidebar shadow */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%)
}

#sidebar.open {
    transform: translateX(0%);
}

@media (min-width: 640px) {
    #content.open {
        padding-left: 201px;
    }
}

/* Nav bar */

#navbar {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    background-color: white;
    border-bottom: 1px solid rgb(218, 220, 224);
}

#main {
    margin-top: 51px;
}

/* Drag and drop */

#upload-drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    max-width: 480px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
}

#upload-drop-area.highlight {
    border-color: blue;
}

/* Info page */

#info-area {
    border: 2px solid #ccc;
    border-radius: 20px;
    max-width: 480px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
}

/* Fullscreen photo */

.photo {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2000;
    transition: all .35s ease-out;
}

.photo.open {
    top: 0;
}

.photo-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Photo info */

.info {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: white;
    z-index: 2000;
    transition: all .35s ease-out;
}

.info.open {
    left: 0;
}

.info-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.info-content {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (orientation: portrait) {
    .info-content {
        display: flex;
        flex-direction: column;
        top: 50px;
    }

    .info-photo-box {
        max-height: 35%;
    }

    .info-content img {
    }
}

@media (orientation: landscape) {
    .info-content {
        display: flex;
        flex-direction: row;
        left: 15px;
    }

    .info-photo-box {
        max-width: 40%;
    }

    .info-content img {
    }
}

