body {
    /* Prevent horizontal scrolling of the photo gallery. */
    overflow-x: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(60,64,67);
    background-color: #F3F4F6;
}

/* Menu */

#navbar a {
    padding: 0.25rem;
    padding-right: 0.5rem; 
    border-bottom: 2px solid transparent;
}

#navbar .active {
    border-bottom: 2px solid black;
}

#sidebar .active>div>div {
    border-bottom: 2px solid black;
}

/* Sidebar */

#sidebar {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: -100;
    transition: transform .1s ease-out;
    will-change: transform;
    width: 200px;
    padding-left: 10px;
    background-color: white;

    /* Left sidebar */
    left: 0;
    transform: translateX(-100%);

    /* Sidebar shadow */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%)
}

#sidebar.open {
    transform: translateX(0%);
}

@media (min-width: 640px) {
    #content.open {
        padding-left: 201px;
    }
}

/* Nav bar */

#navbar {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    background-color: white;
    border-bottom: 1px solid rgb(218, 220, 224);
}

#content {
    padding-top: 52px;
}

/* Drag and drop */

#upload-drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    max-width: 480px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
}

#upload-drop-area.highlight {
    border-color: blue;
}

/* Info page */

#info-area {
    border: 2px solid #ccc;
    border-radius: 20px;
    max-width: 480px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
}

/* Fullscreen photo */

.photo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2000;
}

.photo-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
}

.photo-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.photo-content img {
    flex-shrink: 0;
}

@media (orientation: portrait) {
    .photo-content img {
        min-width: 100%;
        height: auto;
    }
}

@media (orientation: landscape) {
    .photo-content img {
        width: auto;
        min-height: 100%;
    }
}
