
body {
    /* Prevent horizontal scrolling of the photo gallery. */
    overflow-x: hidden;
}

#host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

/* Sidebar */

#sidebar {
    z-index: 1000; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    transition: transform .1s ease-out; 
    will-change: transform; 
    width: 170px;
    padding-left: 10px;
    background-color: white;

    /* Left sidebar */
    left: 0;
    transform: translateX(-100%);

    /* Sidebar shadow */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%)
}

#sidebar.open {
    transform: translateX(0%);
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: left .1s ease-out, right .1s ease-out;
}

#content.open {
    left: 171px;
}

/* Nav bar */

#navbar {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    background-color: white;
    border-bottom: 1px solid rgb(218,220,224);
}

#content {
    padding-top: 42px;
}